<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1"> 
        <title>My site - Function app</title>
        <style>
            body {
                font-family: "Lucida Console", "Courier New", monospace;
            }
            .picture {
                width: 100%;
                max-width: 600px;
            }
        </style>
    </head>
    <body>
        <p><b>{{ message }}</b></p>

        <b>This is me !!</b>
        <p><img class="picture" src="/static/images/hieu.jpg"></p>
        <p>This site is using Azure Function App.</p>
        <p><b>Test my APIs: /api/name/&lt;name&gt; or /api/product/&lt;id&gt;</b></p>

    </body>
</html>
